/**
 * Custom styling for the login form page
 */

@import "sass/variables-site/variables-site";
@import "sass/mixins/mixins-master";
@import "sass/mixins/mixins-slushman";
@import "sass/mixins/mixins-theme";

.login { // page body tag
	background-color: $bg__login-page;

	#login { // div container for login form
		background-color: $bg__login-container;

		h1 {

			a {
 				background-image: $bg__logo;
 				background-size : $size__login-logo-bg;
 				width 			: $size__login-logo-width;
 				height 			: $size__login-logo-height;

			}
		}
	}

	#loginform {
		background-color: $bg__login-form-box;
		padding-bottom 	: 26px;

		p {
			color: $color__text-login-form;
		}

		label {
			color: $color__text-login-form-label;
		}

		.input { // username and password fields
			background-color: $bg__login-form-input;
			border 			: 0;
			color 			: $color__text-form-input;

			&:focus,
			&:active {
				border 		: 1px solid $color__border-input-pseudo;
				box-shadow 	: 0 0 5px $color__shadow-input-pseudo;
			}
		}


	}

	.submit { // submit button p tag


		#wp-submit { // submit button itself
			background-color: $bg__button-submit;
			border 			: 0;
			border-radius 	: 0;
			box-shadow 		: none;
			color 			: $color__text-button-submit;
			font-size 		: 1.25em;
			font-weight 	: 700;
			text-transform 	: uppercase;

			&:hover {
				background-color: $bg__button-submit-pseudo;
				color 			: $color__text-submit-pseudo;
			}
		}
	}

	#nav,
	#backtoblog {
		background-color: $bg__nav;

		a {
			color: $color__text-nav-link;

			&:hover {
				color: $color__text-nav-link-pseudo;
			}
		}
	}

	.forgetmenot { // remember me checkbox p tag

		label {

		}

		#rememberme { // checkbox itself
			background-color: $bg__checkbox;
			color 			: $color__text-checkbox;
		}
	}

}