.main-navigation {
	clear			: both;
	display			: block;
	float			: left;
	width			: 100%;
	background-color: $color__bg-menu;

	ul {
		@extend %listreset;
		text-align 	: left;
		display 	: none;

		@media only screen and (min-width: $bp__footer-menu) {
			display 	: block;
			text-align	: center;
		}

		ul {
			display		: inherit;
			background	: $color__bg-menu-item-mobile;
			text-align 	: left;

			@media only screen and (min-width: $bp__menu-button+1) and (max-width: $bp__footer-menu) {
				background: none;
			}

			@media only screen and (min-width: $bp__footer-menu) {
				box-shadow	: 0 3px 3px rgba(0, 0, 0, 0.2);
				position	: absolute;
				z-index		: 99999;
				transition 	: visibility 0.35s ease, opacity 0.35s ease;
				visibility 	: hidden;
				opacity 	: 0;
				left 		: 0;
			} // breakpoint

			ul {

				@media only screen and (min-width: $bp__footer-menu) {
					left: 100%;
					top	: 0;
				}

				a {
					@media only screen and (max-width: $bp__menu-button) {
						padding 	: 0.5em 3em;
						border-left : none;
					}
				}
			}

			a {
				@media only screen and (max-width: $bp__menu-button) {
					padding: 0.5em 2em;
				}

				@media only screen and (min-width: $bp__menu-button+1) {
					padding 	: 0.5em;
				}

				@media only screen and (min-width: $bp__footer-menu) {
					white-space : nowrap;
					color 		: $color__text-submenu;
					border 		: none;
				}
			}

			li {
				width: 100%;

				&:last-child {

					@media only screen and (max-width: $bp__menu-button) {
						padding-bottom: 0;
					}
				}

			}
		} // .submenu ul

	} // first-level ul

	li {

		@media only screen and (min-width: $bp__footer-menu) {
			display 	: inline-block;
			position 	: relative;
			padding 	: 0.5em 0 0.5em 0.5em;

			&:last-child {

				> a {
					border: none;
				}
			}
		}

		&:hover,
		&.hover,
		&.focus,
		&:focus {
			background: $color__bg-menu-item-hover;

			> ul {
				@media only screen and (min-width: $bp__footer-menu) {
					display 	: block;
					visibility 	: visible;
					opacity 	: 1;
					margin-top 	: 0.5em;
				}
			}

			> a {
				color: $color__text-menu-mobile-hover;

				@media only screen and (min-width: $bp__footer-menu) {
					color: $color__text-menu-hover;
				}
			}

			> .caret-down {
				fill: $teal;
			}

		}
	}

	a {
		padding 		: 0.5em 1em;
		display			: block;
		text-decoration	: none;
		color 			: $color__text-menu-mobile;

		@media only screen and (min-width: $bp__footer-menu) {
			color 			: $color__text-menu;
			padding 		: 0 0.5em 0 0;
			border-right 	: 1px solid $green;
			font-size 		: 18px;
		}

		&:focus {
			outline-color: $light;
		}
	}

	.current_page_item,
	.current-menu-item,
	.current-menu-parent,
	.current_page_ancestor {

		@media only screen and (min-width: $bp__footer-menu) {
			background: $color__bg-menu-current;

			.caret-down {
				fill: $teal;
			}
		}

		> a {
			font-weight: 700;

			@media only screen and (min-width: $bp__footer-menu) {
				color: $color__text-menu-current;
			}
		}

		&:hover,
		&.focus,
		&:focus {

			> a {
				color: $color__text-menu-current-hover-mobile;
				outline-color: $red;

				@media only screen and (min-width: $bp__footer-menu) {
					color: $color__text-menu-current-hover;
				}
			}
		}
	}

	&.toggled {

		.nav-menu {
			@extend %menutoggle;
		}

		.menu-main-menu-container {
			@media only screen and (min-width: $bp__menu-button+1) and (max-width: $bp__footer-menu) {
				transform: translateX(0);
			}

		}
	}
} // .main-navigation

// Center Menu
.menu-main-menu-container {
	margin		: 0 auto;

	@media only screen and (min-width: $bp__menu-button+1) and (max-width: $bp__footer-menu) {
		position 		: fixed;
		top 			: 0;
		bottom 			: 0;
		left 			: 0;
		width 			: 275px;
		height 			: 100%;
		color 			: white;
		background-color: $transred;
		overflow 		: auto;
		padding-top 	: 3em;
		transition 		: transform 0.4s ease;
		transform 		: translateX(-275px);
		z-index 		: 9999;
	}
}


/* Small menu */
.menu-toggle {
	@extend %menutoggle;
	background-color: $color__bg-menu-button-mobile;

	&:hover,
	&:focus,
	&:active {
		background-color: $color__bg-menu-button-pseudo;
	}

	@media only screen and (min-width: $bp__footer-menu) {
		display 	: none;
		background 	: $color__bg-menu-button;
		color 		: $color__text-menu-button;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin	: 0 0 $size__default-bot-marg;
		overflow: hidden;
	}

	& .nav-previous {
		float	: left;
		width	: 50%;
	}

	& .nav-next {
		float		: right;
		text-align 	: right;
		width		: 50%;
	}
}

.caret-down {
	display 	: inline-block;
	height 		: 0.75em;
	margin-left : 0.25em;
	width 		: 0.75em;
	fill 		: $light;
}
